* {
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.blabla {
    background-color: pink;
    min-height: 50vh;
    max-height: 75vh;
    overflow: hidden;
    padding: 1rem;
}

.i-am-the-boss {
    background-color: cyan;
    padding: 1rem;
    font-size: 1.2rem;
}

.hello-world {
    background-color: yellow;
    padding: 1rem;
}