* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Color-color: #F0F1EC;
}

body {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

section {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
    grid-gap: 9px;
    background-color: black;
}

.c1 {
    background-color: #E72F24;
    grid-column: 1 / 2;
    grid-row: 1;
}

.c2 {
    grid-column: 2 / 5;
    grid-row: 1;
    background-image: url("../images/ane.gif");
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.c2:hover {
    background-image: url("../images/schroks.jpg");
}

.c3 {
    grid-column: 1;
    grid-row: 2/4;
    background-image: url("../images/roiGlisse1.webp");
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.c3:hover {
    background-image: url("../images/les-rois-de-la-glisse-a.webp");
}

.c4 {
    grid-column: 2 / 4;
    grid-row: 2/4;
}

.c5 {
    background-color: #004592;
    border-bottom: 10px solid black;
    grid-column: 4;
    grid-row: 2/3;
}

.c6 {
    grid-column: 4;
    grid-row: 3 / 5;
}

.c7 {
    grid-column: 1;
    grid-row: 4;
}

.c8 {
    background-color: #F8D11F;
    grid-column: 2 / 3;
    grid-row: 4;
}

.c9 {
    background-color: #242629;
    grid-column: 3 / 4;
    grid-row: 4;
}

.c2,
.c3,
.c4,
.c6,
.c7 {
    background-color: var(--Color-color);
}